@using BorodaikevychZodiac.Models.User;
@model List<UserModel>
<h1 class="text-center display-1">List of Persons</h1>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Birth Date</th>
    <th scope="col">Email</th>
    <th scope="col">Adult</th>
    <th scope="col">BirthDay</th>
    <th scope="col">Chinese Sign</th>
    <th scope="col">Western Sign</th>
  </tr>
  </thead>
  <tbody>
  @for (int i = 0; i < Model.Count; i++)
  {
    var person = Model[i];
    <tr>
      <th scope="row">@(i+1)</th>
      <td>@person.FirstName</td>
      <td>@person.LastName</td>
      <td>@person.BirthDate</td>
      <td>@person.Email</td>
      <td>@(person.IsAdult ? "Yes" : "No")</td>
      <td>@(person.IsBornToday ? "Yes🎁🎉" : "No")</td>
      <td>@person.ChineseZodiacSign.emoji @person.ChineseZodiacSign.name</td>
      <td>@person.WesternZodiacSign.emoji @person.WesternZodiacSign.name</td>
    </tr>
  }
  </tbody>
</table>