@model BorodaikevychZodiac.Models.PersonListModel
<h1 class="text-center display-1">List of Persons</h1>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Birth Date</th>
    <th scope="col">Email</th>
    <th scope="col">Adult</th>
    <th scope="col">BirthDay</th>
    <th scope="col">Chinese Sign</th>
    <th scope="col">Western Sign</th>
    <th scope="col" colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  @for (int i = 0; i < Model.PersonList.Count; i++)
  {
    var person = Model.PersonList[i];
    <tr>
      <th scope="row" id="person-index">@(i + 1)</th>
      <td>@person.FirstName</td>
      <td>@person.LastName</td>
      <td>@person.BirthDate</td>
      <td>@person.Email</td>
      @if (person.IsAdult)
      {
        <td class="table-success">Yes</td>
      }
      else
      {
        <td class="table-danger">No</td>
      }
      @if (person.IsBornToday)
      {
        <td class="table-success">Yes🎁🎉</td>
      }
      else
      {
        <td class="table-danger">No</td>
      }
    <td>@person.ChineseZodiacSign.name @person.ChineseZodiacSign.emoji</td>
    <td>@person.WesternZodiacSign.name @person.WesternZodiacSign.emoji</td>
      <td colspan="2">
        <button type="button" class="btn btn-outline-secondary" data-toggle="ajax-modal" data-url="@Url.Page("Index", "EditPersonModalPartial")">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-outline-secondary">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  }
  </tbody>
</table>

