@model List<BorodaikevychZodiac.Models.PersonModel>
<table class="table table-hover table-sm">
  <thead>
  <tr class="text-nowrap">
    <th scope="col" class="align-middle">#</th>
    <th scope="col">
      First Name
      <button class="btn btn-light btn-sm" data-toggle="sort-person-list" data-sorting-index="0" data-url="@Url.Page("Index", "Sort")">
        <i class="fas fa-sort"></i>
      </button>
    </th>
    <th scope="col">
      Last Name
      <button class="btn btn-light btn-sm" data-toggle="sort-person-list" data-sorting-index="1" data-url="@Url.Page("Index", "Sort")">
        <i class="fas fa-sort"></i>
      </button>
    </th>
    <th scope="col">
      Birth Date
      <button class="btn btn-light btn-sm" data-toggle="sort-person-list" data-sorting-index="2" data-url="@Url.Page("Index", "Sort")">
        <i class="fas fa-sort"></i>
      </button>
    </th>
    <th scope="col">
      Email
      <button class="btn btn-light btn-sm" data-toggle="sort-person-list" data-sorting-index="3" data-url="@Url.Page("Index", "Sort")">
        <i class="fas fa-sort"></i>
      </button>
    </th>
    <th scope="col">
      Adult
      <button class="btn btn-light btn-sm" data-toggle="sort-person-list" data-sorting-index="4" data-url="@Url.Page("Index", "Sort")">
        <i class="fas fa-sort"></i>
      </button>
    </th>
    <th scope="col">
      BirthDay
      <button class="btn btn-light btn-sm" data-toggle="sort-person-list" data-sorting-index="5" data-url="@Url.Page("Index", "Sort")">
        <i class="fas fa-sort"></i>
      </button>
    </th>
    <th scope="col">
      Chinese Sign
      <button class="btn btn-light btn-sm" data-toggle="sort-person-list" data-sorting-index="6" data-url="@Url.Page("Index", "Sort")">
        <i class="fas fa-sort"></i>
      </button>
    </th>
    <th scope="col">
      Western Sign
      <div class="filter-sort" data-action-index="7">
        <partial name="WesternZodiacOptionsPartial" model="Model"/>
        <button class="btn btn-secondary btn-sm " data-toggle="sort-person-list" data-url="@Url.Page("Index", "Sort")">
          <i class="fas fa-sort"></i>
        </button>
      </div>
    </th>
    <th scope="col" colspan="2" class="align-middle">
      Actions
    </th>
  </tr>
  </thead>
  <tbody>
  @for (int i = 0; i < Model.Count; i++)
  {
    var person = Model[i];
    <tr>
      <th scope="row" id="person-index">@(i + 1)</th>
      <td>@person.FirstName</td>
      <td>@person.LastName</td>
      <td>@person.BirthDateString</td>
      <td>@person.Email</td>
      @if (person.IsAdult)
      {
        <td class="table-success">Yes</td>
      }
      else
      {
        <td class="table-danger">No</td>
      }
      @if (person.IsBornToday)
      {
        <td class="table-success">Yes🎁🎉</td>
      }
      else
      {
        <td class="table-danger">No</td>
      }
      <td>@person.ChineseZodiacSign.name @person.ChineseZodiacSign.emoji</td>
      <td>@person.WesternZodiacSign.name @person.WesternZodiacSign.emoji</td>
      <td colspan="2">
        <button type="button" class="btn btn-outline-secondary" data-toggle="edit-person-modal" data-url="@Url.Page("Index", "EditPersonModal")">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-outline-secondary" data-toggle="delete-person-modal" data-url="@Url.Page("Index", "DeletePerson")">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  }
  </tbody>
</table>
<button type="button" class="btn btn-primary btn-block" data-toggle="add-person-modal" data-url="@Url.Page("Index", "AddPersonModal")">Add new person</button>